@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  --blue: #606dbc;
  --blue-secondary: #465298;
  --green: #2ba22b;
  --green-secondary: #268e26;
  --red: #e42525;
  --red-secondary: #a21313;

  --dark-grey: #222;
  --grey: #444;
  --light-grey: #888;

  --radius-xl: 26px;
  --radius-l: 18px;
  --radius-m: 12px;
  --radius-s: 6px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, span {
  font-family: 'Quicksand', monospace;
  color: white;
}

input[type="text"], textarea {
  font-family: 'Quicksand', monospace;
}

a {
  text-decoration: none;
}