@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  /* main color */
  --rgb-primary: 43, 162, 43;
  --rgb-secondary: 38, 142, 38;
  
  /* color shades 0.1-0.8 */
  --primary: rgb(var(--rgb-primary));
  --primary-08: rgb(var(--rgb-primary), 0.8);
  --primary-06: rgb(var(--rgb-primary), 0.6);
  --primary-04: rgb(var(--rgb-primary), 0.4);
  --primary-02: rgb(var(--rgb-primary), 0.2);
  --primary-01: rgb(var(--rgb-primary), 0.1);
  
  --secondary: rgb(var(--rgb-secondary));
  --secondary-08: rgb(var(--rgb-secondary), 0.8);
  --secondary-06: rgb(var(--rgb-secondary), 0.6);
  --secondary-04: rgb(var(--rgb-secondary), 0.4);
  --secondary-02: rgb(var(--rgb-secondary), 0.2);
  --secondary-01: rgb(var(--rgb-secondary), 0.1);
  
  /* neutral colors */
  --black: #888;
  --dark-grey: #666;
  --grey: #ccc;
  --light-grey: #ddd;
  --white: #eee;
  --overlay-color: #58585880;

  --radius-xl: 2.6rem;
  --radius-l: 1.8rem;
  --radius-m: 1.2rem;
  --radius-s: 0.6rem;

  --transition-slow: 800ms;
  --transition-medium: 400ms;
  --transition-fast: 200ms;
}

* {
  margin: 0;
  padding: 0;
}

/* Root font-size: 1rem = 10px */
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}

/* Font */
h1, h2, h3, h5, h6, p, ul, li, a, span, input, textarea, label {
  font-family: 'Quicksand', monospace;
}

h1, h4 {
  font-family: 'Signika Negative', sans-serif;
}

/* Color */
h2, h3, h4, p, ul, li, a, span, label {
  color: var(--dark-grey);
}

h5, h6 {
  color: var(--white);
}

/* Size */
h1 {
  color: var(--primary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, ul, li, a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}


/* Code for Firefox */
::-moz-selection { 
  color: var(--white);
  background: var(--primary);
}

::selection {
  color: var(--white);
  background: var(--primary);
}