@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  /* AUTUMN COLOR PALETTE */
  --karry: rgb(255, 235, 210); 
  --atomic-tangerine: rgb(255, 163, 100);
  --crusta: rgb(252, 118, 67);
  --apple-blossom: rgb(175, 79, 65);
  --pickled-bluewood: rgb(39, 50, 72);

  /* LIGHT FLAMES */
  --quartz: #171515;
  --cardovan: #894242;
  --indian-red: #d55c5a;
  --tulip: #f5918f;
  --almond: #ebd4cc;
  
  /* functional references */

  /* autumn */
  --primary: var(--crusta);
  --secondary: var(--atomic-tangerine);
  --footer: var(--apple-blossom);
  --background: var(--pickled-bluewood);
  --backdrop: rgba(255, 235, 210, 0.1);
  --font-light: var(--karry);
  --font-dark: var(--pickled-bluewood); 
 

  /* light flames */
  /* --primary: var(--cardovan);
  --secondary: var(--indian-red);
  --footer: var(--cardovan);
  --background: var(--quartz);
  --backdrop: rgba(255, 235, 210, 0.1);
  --font-light: var(--almond);
  --font-dark: var(--quartz); */

  --radius-xl: 2.6rem;
  --radius-l: 1.8rem;
  --radius-m: 1.2rem;
  --radius-s: 0.6rem;

  --transition-slow: 800ms;
  --transition-medium: 400ms;
  --transition-fast: 200ms;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/* Root font-size: 1rem = 10px */
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

nav {
  background-color: var(--background);
}

/* Font */
h1, h2, h3, h5, h6, p, ul, li, a, span, input, textarea, label, summary, details {
  font-family: 'Quicksand', monospace;
}

h1, h4 {
  font-family: 'Signika Negative', sans-serif;
}

/* Color */
h2, h3, h4, p, ul, li, a, span, label, summary, details {
  color: var(--font-light);
}

h5, h6 {
  color: var(--font-light);
}

/* Size */
h1 {
  color: var(--secondary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, ul, li, a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

/* Code for Firefox */
::-moz-selection { 
  color: var(--font-light);
  background: var(--primary);
}

::selection {
  color: var(--font-light);
  background: var(--primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--font-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}