@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  /* AUTUMN COLOR PALETTE */
  --karry: rgb(255, 235, 210); 
  --atomic-tangerine: rgb(255, 163, 100);
  --crusta: rgb(252, 118, 67);
  --apple-blossom: rgb(175, 79, 65);
  --pickled-bluewood: rgb(39, 50, 72);
  --darker-pickled-bluewood: rgb(27, 35, 50);

  /* LIGHT FLAMES */
  --quartz: #171515;
  --cardovan: #894242;
  --indian-red: #d55c5a;
  --tulip: #f5918f;
  --almond: #ebd4cc;
  
  /* functional references */
  --primary: var(--crusta);
  --secondary: var(--atomic-tangerine);
  --footer-bg: var(--darker-pickled-bluewood);
  --background: var(--pickled-bluewood);
  --backdrop: rgba(255, 235, 210, 0.1);
  --font-light: var(--karry);
  --font-dark: var(--pickled-bluewood);
  --white: rgb(240, 240, 255); 
  --black: rgb(17, 17, 17);
  --error-color: rgb(209, 44, 44);

  --radius-xl: 2.6rem;
  --radius-l: 1.8rem;
  --radius-m: 1.2rem;
  --radius-s: 0.6rem;

  --transition-slow: 800ms;
  --transition-medium: 400ms;
  --transition-fast: 200ms;

  --nav-height-desktop: 10rem;
  --nav-height-mobile: 7rem;

  --box-shadow: var(--black) 0px 2rem 3rem -1rem;
  --box-shadow-nav: var(--black) 0px 0rem 3rem -1rem;
  --box-shadow-footer: var(--black) 0px 0rem 3rem -1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/* Root font-size: 1rem = 10px */
html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height-desktop);
  overflow: hidden;
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  background: 
      linear-gradient(135deg,#0000 20.5%, var(--background) 0 29.5%,#0000 0) 0 25px,
      linear-gradient( 45deg,#0000 8%, var(--background) 0 17%, #0000 0 58%) 50px 0,
      linear-gradient(135deg,#0000 8%, var(--background) 0 17%, #0000 0 58%, var(--background) 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%, var(--background) 0 17%, #0000 0 58%, var(--background) 0 67%,#0000 0 83%,var(--background) 0 92%,#0000 0),
      rgba(39, 50, 72, 0.98);
  background-size: 100px 100px;
}

nav {
  background-color: var(--background);
  box-shadow: var(--box-shadow-nav);
}

/* Font */
h1, h2, h3, h5, h6, p, ul, li, a, span, input, textarea, label, summary, details {
  font-family: 'Quicksand', monospace;
}

h1, h3, h4 {
  font-family: 'Signika Negative', sans-serif;
}

/* Color */
h2, h3, h4, p, ul, li, a, span, label, summary, details {
  color: var(--font-light);
}

h5, h6 {
  color: var(--font-light);
}

/* Size */
h1 {
  color: var(--secondary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  color: var(--secondary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, ul, li, a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

/* Code for Firefox */
::-moz-selection { 
  color: var(--font-light);
  background: var(--primary);
}

::selection {
  color: var(--font-light);
  background: var(--primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--font-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}